body {
  margin: 0;
  padding: 0;
}
#fondo {
  background-color: rgb(238, 238, 238);
  width: 100%;
  padding-bottom: 50px;
}
#cont-total {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}
header {
  margin-bottom: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*---------------------------------------------------------NAVBAR*/
#nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}
#nav-menu li {
  float: left;
  margin: auto;
}

#nav-menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 30px;
}
#nav-menu li .nav-name {
  display: inline-block;
  color: white;
  padding: 39px 50px;
  text-decoration: none;
  font-size: 20px;
}

#nav-menu li a:hover {
  background-color: rgb(47, 179, 150);
  color: black;
}
/*---------------------------------------------------------CONFIGIRATION GENERAL  -------------*/
#cont-side {
  width: 25%;
  background-color: #188088;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#cont-general {
  background-color: #d6dada;
  width: 75%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*---------------------------------------------------------SECTION CONTEINER -------------CONTEINER LINK*/
#cont-img {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
#cont-img img {
  width: 70%;
  border-radius: 20px;
  margin-bottom: 20px;
}
/*---------------------------------------------------------CONTAKT CONTEINER*/
#cont-contact {
  width: 100%;
}
.sub-tlt {
  width: 90%;
  font-size: 30px;
  border-bottom: 5px solid black;
  text-align: left;
  padding-left: 30px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cont-list-img {
  display: flex;
  flex-direction: row;
}
.img-cont {
  width: 20%;
  text-align: right;
  margin: auto;
}
.img-info {
  width: 50%;
}
.cont-list {
  color: white;
  margin: auto;
  font-size: 20px;
  width: 80%;
  text-align: left;
}
.cont-list ul {
  text-align: left;
  list-style: none;
}
/*---------------------------------------------------------SKILLS CONTEINER*/
#cont-skills {
  width: 100%;
}
.list {
  font-size: 30px;
  padding-left: 50px;
}
#cont-skills li {
  color: white;
  padding-left: 50px;
  font-size: 25px;
  list-style: none;
}
/*---------------------------------------------------------GENERALE CONTEINER -------------CONTEINER RECHT*/
#cont-profile {
  width: 100%;
  padding-left: 55px;
}
#tlt {
  /*--------------------------------------------------------------------------------*/
  margin-top: 20px;
  font-size: 60px;
  margin-bottom: 0;
}
#subt-profile {
  /*--------------------------------------------------------------------------------*/
  font-size: 25px;
  margin-top: 0;
  font-style: italic;
}
#cont-profile p {
  /*--------------------------------------------------------------------------------*/
  margin-top: 10%;
  width: 95%;
  font-size: 20px;
}
/*---------------------------------------------------------JOB CONTEINER*/
#cont-job {
  width: 100%;
}
#cont-job table {
  width: 98%;
  font-size: 25px;
}
#cont-job h2 {
  width: 95%;
}

.line-img {
  width: 5.5%;
  text-align: left;
}
.img-job {
  width: 80%;
}
.job-left {
  padding-left: 0px;
  width: 40%;
}
.job-right {
  width: 60%;
}
/*---------------------------------------------------------EDUCATION CONTEINER*/
#cont-edu {
  width: 100%;
}
#cont-edu table {
  width: 98%;
  font-size: 25px;
}
#cont-edu h2 {
  width: 95%;
}
.img-edu {
  width: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.edu-left {
  padding-left: 0px;
}
/*---------------------------------------------------------REFERENZ CONTEINER*/
#cont-ref {
  width: 100%;
}
#cont-ref {
  width: 100%;
}
#cont-ref table {
  margin-top: 30px;
  width: 98%;
  font-size: 25px;
  float: right;
}
#cont-ref h2 {
  width: 100%;
}
.line-img-ref {
  width: 12%;
}
.img-ref {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.ref-left {
  padding-left: 50px;
  width: 53%;
}
.ref-right {
  width: 40%;
  text-align: left;
}
/*---------------------------------------------------------FOOTER*/
#footer {
  background-color: black;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.text-ft-right {
  color: white;
  margin: auto;
}

.text-ft-left a {
  text-decoration: none;
  color: white;
}
.text-ft-left a img {
  width: 70px;
}
.link-footer {
  text-decoration: none;
  color: white;
}
#footer a:hover {
  color: aqua;
}
@media (max-width: 1570px) {
  #cont-skills li {
    padding-left: 50px;
    font-size: 20px;
  }
  .list {
    font-size: 25px;
    padding-left: 50px;
  }
  .cont-list {
    font-size: 15px;
  }
  /*GENERAL CONTEINER*/
  #cont-profile {
    padding-left: 50px;
  }
  #tlt {
    font-size: 58px;
  }
  #subt-profile {
    font-size: 23px;
  }
  #cont-profile p {
    font-size: 20px;
  }
  #cont-job table {
    font-size: 23px;
  }
  #cont-edu table {
    font-size: 23px;
  }
  #cont-ref table {
    font-size: 23px;
  }
}

@media (max-width: 1250px) {
  #cont-skills li {
    padding-left: 30px;
    font-size: 15px;
  }
  .list {
    font-size: 20px;
    padding-left: 50px;
  }
  .cont-list {
    font-size: 10px;
  }
  .sub-tlt {
    font-size: 25px;
    padding-left: 30px;
  }
  /*GENERAL CONTEINER*/
  #cont-profile {
    padding-left: 45px;
  }

  #tlt {
    font-size: 55px;
  }
  #subt-profile {
    font-size: 20px;
  }
  #cont-profile p {
    font-size: 18px;
  }
  #cont-job table {
    font-size: 20px;
  }
  #cont-edu table {
    font-size: 20px;
  }
  #cont-ref table {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  #cont-skills li {
    font-size: 12px;
  }
  .list {
    font-size: 15px;
    padding-left: 35px;
  }
  .cont-list {
    font-size: 10px;
  }
  .sub-tlt {
    font-size: 20px;
    padding-left: 30px;
  }
  /*GENERAL CONTEINER*/
  #cont-profile {
    padding-left: 40px;
  }

  #tlt {
    font-size: 45px;
  }
  #subt-profile {
    font-size: 20px;
  }
  #cont-profile p {
    font-size: 15px;
  }
  #cont-job table {
    font-size: 18px;
  }
  #cont-edu table {
    font-size: 18px;
  }
  #cont-ref table {
    font-size: 18px;
  }
}
@media (max-width: 850px) {
  #cont-total {
    margin: auto;
    width: 90%;
  }
  .list {
    font-size: 13px;
    padding-left: 30px;
  }
  .sub-tlt {
    font-size: 20px;
    padding-left: 20px;
  }
  #cont-skills li {
    padding-left: 10px;
    font-size: 12px;
  }
  /*GENERAL CONTEINER*/
  #cont-profile p {
    font-size: 12px;
  }
  #cont-ref table,
  #cont-edu table,
  #cont-job table {
    font-size: 15px;
  }
  #cont-side {
    width: 30%;
  }
  #cont-general {
    width: 70%;
  }
}
@media (max-width: 650px) {
  #cont-total {
    margin: auto;
    width: 95%;
  }
  .list {
    font-size: 13px;
    padding-left: 10px;
  }
  .sub-tlt {
    font-size: 20px;
    padding-left: 20px;
  }
  #cont-skills li {
    padding-left: 10px;
    font-size: 12px;
  }
  /*GENERAL CONTEINER*/
  #tlt {
    margin-top: 20px;
    font-size: 20px;
  }
  #subt-profile {
    font-size: 12px;
  }
  #cont-profile p {
    font-size: 10px;
  }
  #cont-ref table,
  #cont-edu table,
  #cont-job table {
    font-size: 12px;
  }
  #cont-side {
    width: 38%;
  }
  #cont-general {
    width: 62%;
  }
}
@media (max-width: 400px) {
  #cont-total {
    margin: auto;
    width: 95%;
  }
  .list {
    font-size: 13px;
    padding-left: 10px;
  }
  .sub-tlt {
    font-size: 20px;
    padding-left: 20px;
  }
  #cont-skills li {
    font-size: 10px;
    text-align: left;
    float: left;
  }
  #cont-skills ul {
    text-align: left;
    font-size: 10px;
    float: left;
  }
  .cont-list {
    width: 100%;
  }
  /*GENERAL CONTEINER*/
  #cont-profile p {
    font-size: 10px;
  }
  #cont-ref table,
  #cont-edu table,
  #cont-job table {
    font-size: 12px;
  }
  #cont-side {
    width: 35%;
  }
  #cont-general {
    width: 65%;
  }
  #cont-profile {
    width: 100%;
    padding-left: 20px;
  }
}
